.jumbotron {
  color: white;
  margin: 0;
  padding: 5rem 1rem;
  /* margin-bottom: 2rem; */
  background-color: rgb(26, 29, 61);
  border-radius: 0.3rem;
}

.formatting {
  color: white;
}

.heading {
  padding-top: 50px;
}

.homeLink {
  color: white;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}
.homeLink:hover {
  color: rgb(62, 187, 236);
}

.togglePopover {
  background-color: rgb(20, 24, 37) !important;
  border: 0 !important;
}
.togglePopover:active {
  border: 0 !important;
}

.outpassBox {
  width: 70%;
  height: 40%;
  border: 5px;
  margin: 10% 15%;
  border-color: aqua;
  border-style: double;
  color: white;
}
