.jumbotron {
  color: white;
  margin: 0;
  padding: 5rem 1rem;
  /* margin-bottom: 2rem; */
  background-color: rgb(33, 36, 68);
  border-radius: 0.3rem;
}

.formatting {
  color: white;
}

.heading {
  padding-top: 50px;
}
